@media only screen and (max-width: 600px){
    header, 
    header > div.logo,
    header > nav,
    header nav a
    {
    
        display: block;
        float: none;
        height: auto;
        width: 100%;
        text-align: center;
        clear: both;
        padding: 0;

    }
    section,
    main{
        display: block;
        float: none;
        height: auto;
        width: 100%;
        clear: both;
        padding: 0;
    }
    main{
        margin-top: 130px;
    }

    .v-center, .h-right{
        display: block;
        position: relative;
        transform: none;
        
    }
    .taustavari{
        background-color: #bcb9b9;
    }
   
    
    th, td{
        display:block;
        width: 100%;
     
    }

    .showcase {
        height: auto;
    }
   .piilotettu-mobiilissa{
    display: none;

   }
}